/* Base / Page Layout */

body {
  background-color: #1b1b32;
  color: #f5f6f7;
  font: 16px/1.5 Tahoma, sans-serif;
  height: 100vh;
  margin: 0;
  width: 100%;
}


/* Typography */

h1,
p {
  margin: 1em auto;
  text-align: center;
}


/* Form Layout */

form {
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  padding: 0 0 2em;
  width: 60vw;
}

label {
  display: block;
  margin: 0.5rem 0;
}


/* Form Controls */

input,
textarea,
select {
  margin: 10px 0 0;
  min-height: 2em;
  width: 100%;
}

input,
textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #fff;
}


/* Inline Inputs */

.inline {
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  width: unset;
}


/* Submit Button */

input[type='submit'] {
  background-color: #3b3b4f;
  border-color: #fff;
  display: block;
  font-size: 1.1rem;
  height: 2em;
  margin: 1em auto;
  min-width: 300px;
  width: 60%;
}
